# Python Virtual Environments
/.venv/
/venv/

# Python Bytecode and Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
docker-compose.yml

# cookies file
cookies.txt

# Log files
*.log*

# Downloaded files
/downloads/
